# This is Git's per-user configuration file.
[user]
	name = André Kobæk
	email = andre.kobak@visma.com 
[alias]
	po = push origin master
[branch]
        sort = -committerdate
[github]
	user = AndreKobaek
[core]
	excludesFile = ~/.gitignore
	editor = vim
[init]
	templatedir = /home/andre/.git-templates
        defaultBranch = master
[diff]
	tool = vimdiff
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[credential]
	helper = cache --timeout=604800
[column]
        ui = auto
[tag]
        sort = version:refname
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
